<!--<div class="launch-holder" id="ar-launch" onclick="hideLaunch()">
    <div class="arlaunch">
    <a id="arlink" rel="ar" href="" download="asset.usdz">
			<img id="button" width="100" src="/icons/ar.png">
	</a>
    </div>
</div>-->


<div class="ar-button">
    <button onclick="launchAR()">
			<img id="button" width="30" src="/icons/ar.png">
	</button>
</div>


