<div class="menu">
<div class="menutitle"><span>collections</span></div>

<div class="menubt"><a class="menubt" href="/models/page/0">Models</a></div>
<div class="menubt"><a class="menubt" href="/materials">Materials</a></div>
<div class="menubt"><a class="menubt" href="/textures">Textures</a></div>
<div class="menubt"><a class="menubt" href="/accessories">Accessory Groups</a></div>
<div class="menubt"><a class="menubt" href="/categories">Categories</a></div>
<div class="menubt"><a class="menubt" href="/languages">Languages</a></div>

<div class="menutitle"><span>import</span></div>
<div class="menubt"><a class="menubt" href="/models/uploadObject">Add Object</a></div>
<div class="menubt"><a class="menubt" href="/models/uploadModel">Add Model</a></div>
<div class="menubt"><a class="menubt" href="/textures/upload">Add Texture</a></div>



<div class="menutitle"><span>create</span></div>
<div class="menubt"><a class="menubt" href="/login/register">User</a></div>
<div class="menubt"><a class="menubt" href="/materials/edit/new">Material</a></div>
<div class="menubt"><a class="menubt" href="/accessories/edit/new">Accessory Group</a></div>
<div class="menubt"><a class="menubt" href="/designs/all">Designs</a></div>
</div>

<div class="menutitle"><span>editor</span></div>
<div class="menubt"><a class="menubt" href="/clients/pro">PRO</a></div>





<!--<div class="devine-link"><a href='https://devine.pub'>Devine Publishing &#169; 2021</a></div>-->