<div class="menu">
<div class="menutitle"><span>collections</span></div>

<div class="menubt"><a class="menubt" href="/models/page/0">Models</a></div>
<div class="menubt"><a class="menubt" href="/materials">Materials</a></div>
<div class="menubt"><a class="menubt" href="/textures">Textures</a></div>
<div class="menubt"><a class="menubt" href="/accessories">Accessory Groups</a></div>
<div class="menubt"><a class="menubt" href="/categories">Categories</a></div>
<div class="menubt"><a class="menubt" href="/languages">Languages</a></div>

<div class="menutitle"><span>import</span></div>
<div class="menubt"><a class="menubt" href="/models/uploadModel">Add Model</a></div>
<div class="menubt"><a class="menubt" href="/materials/edit/new">Add Material</a></div>


<div class="menutitle"><span>create</span></div>
<div class="menubt"><a class="menubt" href="/login/register">User</a></div>
<div class="menubt"><a class="menubt" href="/groups/edit/new">Create Model Group</a></div>
<div class="menubt"><a class="menubt" href="/accessories/edit/new">Create Accessory Group</a></div>
<div class="menubt"><a class="menubt" href="/adddomain">Domain Link</a></div>
<div class="menubt"><a class="menubt" href="/addDesign">Design</a></div>
</div>

<div class="menutitle"><span>settings</span></div>
<div class="menubt"><a class="menubt" href="/domains">Domains</a></div>
<div class="menubt"><a class="menubt" href="/users">Users</a></div>

<div class="menutitle"><span>environments</span></div>
<div class="menubt"><a class="menubt" href="/clients/previewpara">Parametric</a></div>


<!--<div class="devine-link"><a href='https://devine.pub'>Devine Publishing &#169; 2021</a></div>-->