<div class="menu">
<div class="menutitle"><span>collections</span></div>

<div class="menubt"><a class="menubt" href="/models">Models</a></div>
<div class="menubt"><a class="menubt" href="/materials">Material Library</a></div>
<div class="menubt"><a class="menubt" href="/accessories">Accessory Groups</a></div>
<div class="menubt"><a class="menubt" href="/categories">Categories</a></div>
<div class="menubt"><a class="menubt" href="/designs">Designs</a></div>

<div class="menutitle"><span>import</span></div>
<div class="menubt"><a class="menubt" href="/models/uploadModel">Add Model</a></div>
<div class="menubt"><a class="menubt" href="/addmaterial">Add Material</a></div>


<div class="menutitle"><span>create</span></div>
<div class="menubt"><a class="menubt" href="/addmaterial">User</a></div>
<div class="menubt"><a class="menubt" href="/createGroup">Create Accessory Group</a></div>
<div class="menubt"><a class="menubt" href="/adddomain">Domain Link</a></div>
<div class="menubt"><a class="menubt" href="/addDesign">Design</a></div>
</div>

<div class="menutitle"><span>settings</span></div>
<div class="menubt"><a class="menubt" href="/domains">Domains</a></div>
<div class="menubt"><a class="menubt" href="/users">Users</a></div>

<div class="devine-link"><a href='https://devine.pub'>Devine Publishing &#169; 2021</a></div>