<div class="menu">

<div class="menutitle"><span>settings</span></div>
<div class="menubt"><a class="menubt" href="/merchant/webshop-ids">Product IDs</a></div>
<div class="menubt"><a class="menubt" href="/merchant/importer">Upload IDs</a></div>
<div class="menubt"><a class="menubt" href="/outputedit/output">Edit Output Script</a></div>
<div class="menubt"><a class="menubt" href="/outputedit/detector">Edit Detection Script</a></div>
</div>
<!--<div class="devine-link"><a href='https://devine.pub'>Devine Publishing &#169; 2021</a></div>-->