<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>{{title}}</title>
</head>
<style>
    body{
        background-image: url('/imgs/bg2.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
    }

</style>
<body>
    {{{body}}}
</body>
</html>