<div class="login-box">
    <h2>{{title}}</h1>
        <form action="./log-in" method="POST">
            <table>
                <tr>
                    <td><label for="username">User name</label></td>
                    <td><input type="email" id="email" name="email" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name="password" required><br></td>
                </tr>
                <tr>
                    <td></td>
                    <td style='padding-top: 20px; text-align: end; border-top: 20px;'><button type="submit">Login</button></td>
                    
                </tr>
                
        </form>
        </table>
</div>