<h1>{{title}}</h1>
<form name="texupload" action="/merchant/import-ids" enctype="multipart/form-data" method="post">
    <input type="file" name="file-to-upload" onchange="checkExist(event)">
    <input type="submit" value="Upload">
</form>
<div id="message" style="padding-bottom: 20px;">
<h4>Table should include just two columns, sku and webshop_id</h4>
<img src="/imgs/csv_example.png" />
</div>



<script>
    
    function cancel(){
        location.reload();
    }
    function startup(){};
</script>
