<h1>{{title}}</h1>
<form name="objectupload" action="/models/uploadobject" enctype="multipart/form-data" method="post"
    onsubmit="return validateUpload()">
    <input type="file" name="file-to-upload" onchange="checkExist(event)">
    <input type="submit" value="Upload">
</form>
<div id="message">
    <h4>Models should be .glb and in scale of 1 unit = 1 meter</h4>
</div>
<div id="cls-message" style="padding-bottom: 20px;">
    <h4>Classes should extend the TrinityClass</h4>
</div>
<div id="container" class="window3d" style="visibility:hidden;float: left;">

</div>
<div id="compare" class="window3d" style="visibility:hidden; float: left;">

</div>
<script src="/js/objectupload.js"></script>
<script>
    
    function startup() { };
</script>

{{>preview3d}}
{{>compare3d}}