body{
    font-family: 'Lato' , sans-serif;
    background-color: #f1f1f1;
    /* BSS-SPECIAL-10 */
}
.sidebar{
    background-color: #18202d;
    position: fixed;
    left: 0px;
    top:60px;
    width:240px;
    height: calc(100% - 60px);
    z-index: 2;
    overflow-y: auto;
}
.main{
    
    position: absolute;
    left: 240px;
    top:60px;
    width: calc(100% - 280px);
    padding: 20px;
    font-size: 14px;
}
.logo{
    background-color: #017eff;
    top:0px;
    left: 0px;
    height: 60px;
    width: 240px;
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
}
.topbar{
    background-color: #ffffff;
    color: #8c8c8c;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: rgb(40 42 49 / 16%) 0px 1px 2px 0px;
    z-index: 4;
}
.cover{
    background-color: #f1f1f1;
    height: 80px;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 1;
}
.menu{
    font-family: 'Lato' , sans-serif;;
}
.menubt{
    
    border-left: 0.3rem solid transparent;
    padding-left: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-left: 0.3rem solid rgba(0, 152, 247, 0);
    left: 0px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.menubt a{
    color: #909bad;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 20px;
}
.menubt :hover{
    border-left: 0.3rem solid rgb(0, 151, 247);
    color:  #acb9cc;;
}
.menutitle{
    -webkit-font-smoothing: antialiased;
    color: #5b626f;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1rem;
    font-weight: 800;
    padding: 7px;
    
}
input[type=text] {
    width: 70%;
    padding: 7px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato';
    box-shadow: rgb(40 42 49 / 16%) 0 0 4px 0px;
    border: 0px;

}
.popup{
    background-color: #FFFFFF;
}
button{
    display: inline-block;
    padding: 0.4em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #d4d4d4;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 600;
    color: #18202d;
    
    text-align: center;
    position: relative;
    }
button:hover{
    border-color:#7a7a7a;
}
button:active{
    background-color:#999999;
}
@media all and (max-width:30em){
 button{
    display:block;
    margin:0.2em auto;
    }
}
input[type="submit" i]{
    display: inline-block;
    padding: 0.4em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #d4d4d4;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 600;
    color: #18202d;
    
    text-align: center;
    position: relative;
}
.window3d{
    width:500px;
    height: 500px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width:500px;
    position: absolute;
    left:0px;
    z-index: 2;
}
.parameter-column{
    position: absolute;
    max-width: 500px;
    top:630px;
}
.textureBox{
    min-width:500px;
    min-height: 500px;
    padding-right: 20px;
    padding-bottom: 20px
}
.devine-link a{
    font-family: 'Lato' , sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 10px;
    color: #4f678e;
    left: 35px;
    text-decoration: none;
}
.devine-link a:hover{
    color: #7a9ed8;
}
.logout{
   position: absolute;
   right: 20px;
   display: flex;
   align-items: center;
   padding: 15px;
}
.logout a{
    text-decoration: none;
    color: #4f678e;
}
.logout a:hover{
    color: #7a9ed8;
}
.item-row {
    background-color: #f3f3f3;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    cursor: pointer;
    display: flex;
    min-height: 30px;
    box-shadow: rgb(40 42 49 / 16%) 0px 1px 2px 0px;
}
.item-row-top{
    background-color: #b1b1b1;
    -webkit-font-smoothing: antialiased;
    margin: 5px;
    height: 20px;
    cursor: pointer;
    color: #909b90;
}
.item-row a{
    text-decoration: none;
    color:#017eff;
}
.item-row a:hover{
    text-decoration: none;
    color:#83b8ec;
}
.column-4{
    width: 25%;
    position: relative;
    float: left;
    margin: auto;
}
.column-5{
    width: 20%;
    position: relative;
    float: left;
    margin: auto;
}
.column-3{
    width: 33%;
    position: relative;
    float: left;
    margin: auto;
}
.column-2{
    width: 50%;
    position: relative;
    float: left;
    margin: auto;
}
.bottomButs{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 40px;
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.warn{
    background-color: #efa1a1;
    border: 0.15em solid #e09292;
    color: #904444;
}
.warn:active{
background-color: #ff0000 !important;
color: white !important;
}
.login-box{
    padding: 30px;
    background: white;
    width: fit-content;
    box-shadow: rgb(40 42 49 / 16%) 0px 1px 2px 0px;
    position: relative;
    left: 20px;
    top: 20px;
}
.submit-bt{
    width:80%;
    text-align: right;
}
.multi-select{
    width: 400px;
}
.material-parameters{
    /* background-color: #18202d; */
    width: 400px;
    position: absolute;
    left:550px;
}
.image-input{
    width:220px !important;
}
.image-chooser{
    width: calc(100% - 930px);
    /* height: 200px; */
    position: absolute;
    left: 900px;
    top: 60px;
}
.map-preview{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    float: left;
}
.list-preview{
    width:55px;
    height:55px;
}
.thumb-img{
    float: left;
    padding: 3px;
    /* border: gray; */
    border: 1px solid #e6e3e3;
    border-radius: 5px;
    margin: 2px;
}
.model-select{
    position: fixed;
    z-index: 10;
    width:200px;
}
.target-select{
    top: 650px;
    position: fixed;
}
input[type="range" i] {

    width:100%
}
.delete-bt{
    color: #ffffff;
    background-color: #efa1a1;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    top: -45px;
    left: -10px;
    cursor: pointer;
    display: none;
}
.delete-bt span{
    margin:-2 !important;
}
hr{
margin: 30px;
}
.thumb-prev{
    width:80px;
    margin: 20px;

}
.msg-text{
    font-style: italic;
    font-size:10px;
}
.pagination{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}
.pagination a{
    text-decoration: none;
    color:#6f7071;
}
.pagination a:hover{
    text-decoration: none;
    color:#83b8ec;
}

@media only screen and (max-width: 600px) {
  .logo{
      width:30px;
      width: 70px;
    overflow: hidden;
  }
 .sidebar{
    width: 0px;
    overflow: hidden;
    z-index: 10;
 }
 .main{
    width: calc(100% - 20px);
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
 }
 .openmenu{
     width: 240px;
 }
 .window3d{
    padding-right: 0px;
    padding-bottom: 0px;
    left:0px;
    position: relative;
    
}






}